modelq
.DS_Store
*.exe
*.dll
*.so
*.dylib
*.test
*.out
.glide/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/*.xml
.idea/**/gradle.xml
.idea/
.idea/**/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/modelq.iml
.idea/modules.xml
.idea/workspace.xml
model/
